@import "../../styles/theme";

.hero {
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.hero_text {
  text-align: center;
  font: normal normal normal 36px/46px 'Baloo Da 2';
  letter-spacing: 1.26px;
  color: #ffffff;
  opacity: 1;
  max-width: 900px;

  @media (max-width: $mobile-break-point) {
    font: normal normal normal 24px/34px 'Baloo Da 2';
  }
}
