@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@600;700&family=Montserrat:wght@200&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: "Baloo Da 2", Arial, Helvetica, sans-serif;
  letter-spacing: 0;
  font-weight: 600;
}

h2 {
  font: normal normal bold 22px/28px 'Baloo Da 2';
  letter-spacing: 0.58px;
  color: #000000;
  opacity: 1;
}

h3 {
  font: normal normal 600 26px/32px 'Baloo Da 2';
  margin-bottom: 15px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

p, body {
  font: normal normal 300 16px/26px 'Montserrat';
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
