.main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
}

.header {
  position: sticky;
  background-color: blue;
}

.logo {
  height: 1em;
}

.hero {
  background-image: linear-gradient(
      rgba(51, 51, 51, 0.52),
      rgba(51, 51, 51, 0.52)
    ),
    url("/hero.png");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  padding: 30px;
  font-size: 30px;
  font-weight: bold;
}

.about {
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding: 2rem 0;
}
