.main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin: 0 30px;
}

.header {
  /* position: fixed; */
  top: 0;
  width: 100%;
  padding: 10px 30px;
  background-color: #4D7EA8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_inner {
  max-width: 1200px;
  flex: 1;
}

.title {
  text-align: left;
font: normal normal 600 34px/57px 'Baloo Da 2';
margin: 0;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.logo {
  height: 1em;
}

.about {
  padding: 5rem 0;
  margin-bottom: 3rem;
}

.about_intro {
  text-align: center;
  max-width: 600px;
  margin: auto;
  margin-bottom: 5rem;

  font: normal normal 300 20px/30px Montserrat;
  letter-spacing: 0px;
  color: #000000;
}

.image_break {
  background-image: url("/notebook_break.png");
  /* background-position: 0 50% 0; */
  background-attachment: scroll;
  background-size: cover;
  
  height: 40vh;
  width: 100%;
  background-size: cover;
}
