$mobile-break-point: 800px;

.main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;

  @media only screen and (max-width: $mobile-break-point) {
    flex-direction: column;
  }
}

.col {
  flex: 1;
  margin: 0 30px;
}

.logo {
  height: 1em;
}

.about {
  padding: 5rem 15px;
  width: 100%;
}

.about_intro {
  text-align: center;
  max-width: 600px;
  margin: auto;
  margin-bottom: 5rem;

  font: normal normal 300 20px/30px "Montserrat";
  letter-spacing: 0px;
  color: #000000;
}

.image_break {
  height: 40vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    height: 100%;
    min-width: 100vw;
  }
}

.footer {
  background-image: url("/footer.png");
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  text-align: center;

  height: 55vh;
  width: 100%;
}

.footer_text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font: normal normal 700 20px/20px "Baloo Da 2";
}

.bio {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  h3 {
    margin-top: 0;
  }
}

.portrait {
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  margin: 30px;
  align-self: center;
}
